[X] Use Redux to implement a data store
    - Use actions to dispatch data to reducers
    - Use reducers to manipulate the store data
    - Use getters to retrieve data from your store

[X] Use both stateless and stateful components

[ ] Use the react hooks useState and useEffect

[X] Use a form input to add channels and messages

[X] 10 components or more

[X] Use Router to navigate
	- Use routes to change pages
	- Use route parameters to pass props to a component

[ ] No critical bugs and minimal console warnings, preferably none

[X] Commit and push using Git. Entire project must be on Github

[ ] Grade teammate their effort on the project

[ ] Bonus: On the profile page be able to update your account info

TO DO:
- Fix messages generating in input box
- Be able to navigate through channels
- Make channels generate correctly
   - New collection with channel info?