@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;900&display=swap');

* {
    font-family: 'poppins';
}

$black: #1a1a2e;
$dblue: #16213e;
$blue: #0f3460;
$red: #e94560;
$white: white;

body {
    margin: 0;
    overflow: hidden;
}

header {
    display: flex;
    background: $black;
    color: $white;
    height: 6em;

    .links {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
            cursor: pointer;
        }

        a {
            color: $white;
            text-decoration: none;
        }
    }
}

.channels {
    background: $red;
    color: $white;
    width: 20vw;
    padding: 2em;
    height: calc(100vh - 10em);
}

main {
    display: flex;
    width: 100vw;
}

.messages {
    width: calc(80vw - 8em);
    padding: 2em;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 14em);
    display: flex;
    flex-direction: column-reverse;
    .chat {
        .messageWrap {
            .message {
                display: flex;
                img {
                    padding: .5em 0;
                }
                p {
                    background: #ddd;
                    border-radius: 1.25em 1.25em 1.25em 0;
                    height: fit-content;
                }
            }

            h6 {
                margin: 0 4em;
                font-weight: 300;
            }
            img {
                border-radius: 100%;
                width: 2em;
                height: 2em;
                // margin-right: 1em;
            }

            .topInfo {
                h6 {
                    line-height: 3em;
                    font-weight: 300;
                }
            }
        }
        .sent {
            margin: 2em 0 0 auto;
            text-align: right;
    
            .message {
                flex-direction: row-reverse;
                justify-self: flex-end;
                display: flex;
                justify-content: flex-start;
                margin-bottom: .5em;
    
                img {
                    margin-left: .5em;
                    padding: .25em 0;
                    background: white;
                }
                p {
                    background: $blue;
                    color: white;
                    border-radius: 1.25em 1.25em 0 1.25em;
                    margin: 0 0 0 auto;
                }
            }
    
            h6 {
                margin: 0 4em;
                font-weight: 300;
            }
        }
        .Message {
            padding: .5em 1em;
            line-height: 1.5em;
            width: fit-content;
            max-width: 60vw;
            margin: 0 .5em;
            min-height: 1.5em;
        }
        .groupMessage {
            margin-top: 0;
            margin-bottom: 0;
            .message {
                margin-top: 0;
                margin-bottom: 0;
                p {
                    border-radius: 0 1.25em 1.25em 0;
                    margin: 0;
                }
                img {
                    opacity: 0;
                    padding: 0.25em 0.5em;
                }
                .topImg {
                    opacity: 1;
                }
            }
        }
        .groupMessage.sent {
            margin-top: 0;
            margin-bottom: 0;
            .message {
                margin-top: 0;
                margin-bottom: 0;
                p {
                    border-radius: 1.25em 0 0 1.25em;
                }
                img {
                    padding: 0.25em 0;
                }
            }
        }
    }
    

    .sendMessage {
        position: absolute;
        bottom: 2em;
        width: calc(80vw - 8em);
        display: flex;
        justify-content: space-between;

        input {
            width: calc(80vw - 15em);
        }

        button {
            background: $blue;
            color: white;
            border: none;
            outline: none;
            padding: .25em .5em;
            border-radius: 3px;
            width: 4em;
        }
    }
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    button {
        background: $blue;
        border: 2px solid $dblue;
        color: white;
        outline: none;
        font-size: 1.5em;
        border-radius: 3px;
        padding: .5em;
    }
    a {
        font-size: 1.5em;
        margin-top: 1em;
        color: $dblue;
        text-decoration: none;
    }
}