@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;900&display=swap");
* {
  font-family: "poppins";
}

body {
  margin: 0;
  overflow: hidden;
}

header {
  display: flex;
  background: #1a1a2e;
  color: white;
  height: 6em;
}
header .links {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .links p {
  cursor: pointer;
}
header .links a {
  color: white;
  text-decoration: none;
}

.channels {
  background: #e94560;
  color: white;
  width: 20vw;
  padding: 2em;
  height: calc(100vh - 10em);
}

main {
  display: flex;
  width: 100vw;
}

.messages {
  width: calc(80vw - 8em);
  padding: 2em;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 14em);
  display: flex;
  flex-direction: column-reverse;
}
.messages .chat .messageWrap .message {
  display: flex;
}
.messages .chat .messageWrap .message img {
  padding: 0.5em 0;
}
.messages .chat .messageWrap .message p {
  background: #ddd;
  border-radius: 1.25em 1.25em 1.25em 0;
  height: fit-content;
}
.messages .chat .messageWrap h6 {
  margin: 0 4em;
  font-weight: 300;
}
.messages .chat .messageWrap img {
  border-radius: 100%;
  width: 2em;
  height: 2em;
}
.messages .chat .messageWrap .topInfo h6 {
  line-height: 3em;
  font-weight: 300;
}
.messages .chat .sent {
  margin: 2em 0 0 auto;
  text-align: right;
}
.messages .chat .sent .message {
  flex-direction: row-reverse;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}
.messages .chat .sent .message img {
  margin-left: 0.5em;
  padding: 0.25em 0;
  background: white;
}
.messages .chat .sent .message p {
  background: #0f3460;
  color: white;
  border-radius: 1.25em 1.25em 0 1.25em;
  margin: 0 0 0 auto;
}
.messages .chat .sent h6 {
  margin: 0 4em;
  font-weight: 300;
}
.messages .chat .Message {
  padding: 0.5em 1em;
  line-height: 1.5em;
  width: fit-content;
  max-width: 60vw;
  margin: 0 0.5em;
  min-height: 1.5em;
}
.messages .chat .groupMessage {
  margin-top: 0;
  margin-bottom: 0;
}
.messages .chat .groupMessage .message {
  margin-top: 0;
  margin-bottom: 0;
}
.messages .chat .groupMessage .message p {
  border-radius: 0 1.25em 1.25em 0;
  margin: 0;
}
.messages .chat .groupMessage .message img {
  opacity: 0;
  padding: 0.25em 0.5em;
}
.messages .chat .groupMessage .message .topImg {
  opacity: 1;
}
.messages .chat .groupMessage.sent {
  margin-top: 0;
  margin-bottom: 0;
}
.messages .chat .groupMessage.sent .message {
  margin-top: 0;
  margin-bottom: 0;
}
.messages .chat .groupMessage.sent .message p {
  border-radius: 1.25em 0 0 1.25em;
}
.messages .chat .groupMessage.sent .message img {
  padding: 0.25em 0;
}
.messages .sendMessage {
  position: absolute;
  bottom: 2em;
  width: calc(80vw - 8em);
  display: flex;
  justify-content: space-between;
}
.messages .sendMessage input {
  width: calc(80vw - 15em);
}
.messages .sendMessage button {
  background: #0f3460;
  color: white;
  border: none;
  outline: none;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  width: 4em;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.login button {
  background: #0f3460;
  border: 2px solid #16213e;
  color: white;
  outline: none;
  font-size: 1.5em;
  border-radius: 3px;
  padding: 0.5em;
}
.login a {
  font-size: 1.5em;
  margin-top: 1em;
  color: #16213e;
  text-decoration: none;
}

.activeChannel {
  visibility: visible;
}

.inactiveChannel {
  visibility: hidden;
}

/*# sourceMappingURL=index.css.map */
